/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  scroll-behavior: smooth;
}

/* Navbar */

#navbar {
  height: 70px;
}

/* Content */

section {
  padding-top: 100px;
}

/* Home */

/* About */

#why-us {
  padding-bottom: 65px;
}
/* Menu */

.row {
  padding-top: 65px;
  padding-left: 100px;
}

.menu-list {
  list-style-type: none;
}

.menu-item {
  width: 60px;
  aspect-ratio: 1;
  color: grey;
}

/* Specials */

/* Events */

/* Chefs */

/* Gallery */

/* Contact */
